<th:block th:fragment="contributors-block" xmlns:th="http://www.thymeleaf.org">
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
        <div class="container">
            <div class="mb-5 text-center"><h1>Who can contribute?</h1></div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-user"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Normal People Like YOU</h2>
                        <p>Most of our volunteers are random people with big hearts</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-group"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Non-Governmental Organizations(NGO)</h2>
                        <p>We welcome all NGOs. Please contact us directly</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-globe"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Other Organizations</h2>
                        <p>We welcome all organizations. Please contact us directly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="profile-block" xmlns:th="http://www.thymeleaf.org">
    <div class="block-38 text-center">
        <div class="block-38-img">
            <div class="block-38-header">
                <img th:src="${model.imageUrl}" alt="Profile Picture" class="mb-4">
                <h3 class="block-38-heading h4"
                    th:text="${model.firstName+' '+model.lastName}"></h3>
                <i class="" th:text="${model.email}"></i>
            </div>
            <div class="block-38-body mt-3">
                <p th:text="${model.about}"></p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="volunteers-block" xmlns:th="http://www.thymeleaf.org">
    <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Wall of Fame</h2>
                </div>
            </div>
            <div class="row">

                <th:block th:each="user : ${model}">
                    <div class="col-md-6 col-lg-3">
                        <div class="block-38 text-center">
                            <div class="block-38-img">
                                <div class="block-38-header">
                                    <img th:src="${user.imageUrl}"
                                         alt="Profile Picture" class="mb-4">
                                    <h3 class="block-38-heading h4"
                                        th:text="${user.firstName+' '+user.lastName}"></h3>
                                </div>
                                <div class="block-38-body mt-3">
                                    <p th:text="${user.about}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</th:block>