<th:block th:fragment="contributors-block" xmlns:th="http://www.thymeleaf.org">
    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
        <div class="container">
            <div class="mb-5 text-center"><h1>Who can contribute?</h1></div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-user"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Normal People Like YOU</h2>
                        <p>Most of our volunteers are random people with big hearts</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-group"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Non-Governmental Organizations(NGO)</h2>
                        <p>We welcome all NGOs. Please contact us directly</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon mr-4 align-self-start">
                        <span class="icon-globe"></span>
                    </div>
                    <div class="text">
                        <h2 class="text-uppercase">Other Organizations</h2>
                        <p>We welcome all organizations. Please contact us directly</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block th:fragment="profile-block" xmlns:th="http://www.thymeleaf.org">
    <div class="block-38 text-center">
        <div class="block-38-img">
            <div class="block-38-header">
                <!--<a th:href="@{/user/profile/{id}(id=${#authentication.principal.id})}">-->
                    <img th:src="${#authentication.principal.imageUrl}"
                         alt="Profile Picture" class="mb-4">
                <!--</a>-->
                <h3 class="block-38-heading h4"
                    th:text="${#authentication.principal.firstName+' '+#authentication.principal.lastName}"></h3>
                <i class="" th:text="${#authentication.principal.email}"></i>
            </div>
            <div class="block-38-body mt-3">
                <p th:text="${#authentication.principal.about}"></p>
            </div>
        </div>
    </div>
</th:block>

<th:block th:fragment="volunteers-block" xmlns:th="http://www.thymeleaf.org">
    <div class="site-section border-bottom" data-aos="fade">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                    <h2>Wall of Fame</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">

                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="images/person_1.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Elizabeth Graham</h3>
                            </div>
                            <div class="block-38-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                    sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="images/person_2.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Jennifer Greive</h3>
                                <p class="block-38-subheading">Co-Founder</p>
                            </div>
                            <div class="block-38-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                    sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="images/person_3.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Patrick Marx</h3>
                                <p class="block-38-subheading">Marketing</p>
                            </div>
                            <div class="block-38-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                    sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img src="images/person_4.jpg" alt="Image placeholder" class="mb-4">
                                <h3 class="block-38-heading h4">Mike Coolbert</h3>
                                <p class="block-38-subheading">Sales Manager</p>
                            </div>
                            <div class="block-38-body">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil
                                    sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>