<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="site-section">
            <div class="container">
                <div class="row mb-5">
                                         <div class="col-md-12 site-blocks-table">
                            <table id="table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>

                                <tbody>
                                <th:block th:each="item : ${model}">
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a th:href="@{/products/{id}(id=${item.product.id})}">
                                                <img th:src="${item.product.imageUrl}"
                                                     alt="Image placeholder" class="img-fluid">
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black" th:text="${item.product.name}"></h2>
                                        </td>
                                        <td th:text="'$'+${item.product.price}"></td>
                                        <td>
                                            <div class="input-group mb-3" style="max-width: 120px;">
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-outline-primary js-btn-minus" type="button">
                                                        −
                                                    </button>
                                                </div>
                                                <input th:value="${item.product.id}" type="hidden"/>
                                                <input type="text" class="form-control text-center product-quantity"
                                                       th:value="${item.quantity}" placeholder=""
                                                       aria-label="Example text with button addon"
                                                       aria-describedby="button-addon1">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-primary js-btn-plus" type="button">
                                                        +
                                                    </button>
                                                </div>
                                            </div>

                                        </td>
                                        <td th:text="'$'+${item.sum}"></td>

                                        <td>
                                            <a class="btn btn-primary btn-sm"
                                               th:href="@{/cart/delete/{id}(id=${item.product.id})}">X</a>
                                        </td>

                                    </tr>

                                </th:block>
                                </tbody>

                            </table>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-5">

                            <form th:action="@{/cart/update}" th:method="post">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <button id="btn-update-cart" class="btn btn-primary">Update Cart</button>
                                </div>
                            </form>

                            <div class="col-md-6">
                                <a th:href="@{/products}" class="btn btn-outline-primary">
                                    Continue Shopping</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 pl-5">
                        <div class="row justify-content-end">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>

                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black" th:text="'$'+${total}"></strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <a th:href="@{/cart/checkout}" class="btn btn-primary btn-lg py-3 btn-block">
                                            Proceed To Checkout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


