<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Causes</strong></div>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-5">
                        <div class="block-16">
                            <img class="img-fluid rounded" th:src="${model.imageUrl}" alt="Image placeholder">
                            <th:block sec:authorize="isAuthenticated()">
                                <th:block th:if="${#authentication.principal.email} != ${model.author.email} and
                                                   ${isApproved==true}">

                                    <form th:method="post" action="#">
                                        <button th:data-cause_id="${model.id}" id="follow-button" class="as-link"
                                                type="submit">
                                    <span class="icon icon-heart"><span
                                            id="follow-clause"
                                            th:text="${isFollowing}!=true ? 'Follow cause' : 'Unfollow cause'"></span></span>
                                        </button>
                                    </form>
                                </th:block>

                                <th:block
                                        th:if="${#authorization.expression('hasRole(''ROLE_MODERATOR'')')} and ${isApproved==false}">
                                    <form th:method="post" th:action="@{/causes/approve/{id}(id=${model.id})}">
                                        <button class="as-link" type="submit" name="approveCause">
                                            <span class="icon icon-assignment_turned_in">Approve cause</span>
                                        </button>
                                    </form>
                                </th:block>
                                <th:block th:if="${#authentication.principal.email} == ${model.author.email} or
                                                    ${#authorization.expression('hasRole(''ROLE_MODERATOR'')')}">
                                    <div><a th:href="@{/causes/form/{id}(id=${model.id})}">
                                        <span class="icon icon-edit">Edit cause</span>
                                    </a></div>

                                    <form th:method="post" th:action="@{/causes/delete/{id}(id=${model.id})}">
                                        <button class="as-link" type="submit" name="deleteCause"
                                                onclick="return confirm('Are you sure you want to delete this cause?');">
                                            <span class="icon icon-delete">Delete cause</span>
                                        </button>
                                    </form>
                                </th:block>
                            </th:block>
                        </div>
                        <div class="pt-3 mb-4 mt-2">
                            <h3 class="text-black" th:text="${model.title}"></h3>
                        </div>
                        <div th:text="${model.description}"></div>
                    </div>
                    <div class="col-md-1"></div>
                    <!--Message Board-->
                    <div class="col-md-5">
                        <div class="row">

                            <div class="col col-md-8">
                                <div class="block-38 text-center">
                                    <div class="block-38-header">
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <i> Published on: </i>
                                            </div>
                                            <div class="col col-md-6">
                                                <h3 class="block-38-heading h5" th:text="${model.publishingDate}"></h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <i> Location: </i>
                                            </div>
                                            <div class="col col-md-6 block-38-heading h5">
                                                <h3 class="block-38-heading h5" th:text="${model.location.name}"></h3>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <i>Published by: </i>
                                            </div>
                                            <div class="col col-md-6">
                                                <h3 class="block-38-heading h4"
                                                    th:text="${model.author.firstName+' '+model.author.lastName}"></h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <i>Email: </i>
                                            </div>
                                            <div class="col col-md-6">
                                                <h3 class="block-38-heading h5" th:text="${model.author.email}"></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/user/profile/{id}(id=${model.author.id})}">
                                <div class="col col-md-4">
                                    <div class="block-38 text-center">
                                        <div class="block-38-header">
                                            <div class="block-38-img">
                                                <img th:src="${model.author.imageUrl}" alt="Profile Picture"
                                                     class="mb-4">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <hr>
                        <div>
                            <h5 class="text-black">Message Board</h5>
                            <div id="message-board" class="pt-3 mb-4 mt-4">
                                <th:block th:each="comment:${comments}">
                                    <div class="alert alert-primary">
                                        <small th:text="${comment.publishingDate}+' '+${comment.authorName}+' said :'"></small>
                                        <div>
                                            <strong th:text="${comment.comment}"></strong>
                                        </div>
                                        <th:block th:if="${#authorization.expression('hasRole(''ROLE_MODERATOR'')')}">
                                            <div id="btn-delete-comment">
                                                <form th:method="post" action="#">
                                                    <button th:comment_id="${comment.id}" th:data-cause_id="${model.id}" class="as-link"
                                                            type="submit">
                                                        <small> Delete</small>
                                                    </button>
                                                </form>
                                            </div>
                                        </th:block>
                                    </div>

                                </th:block>
                            </div>
                        </div>
                        <th:block sec:authorize="isAuthenticated()">
                            <form action="#" method="post">Enter your comment here:<br/>
                                <textarea id="comment" maxlength="500" rows="2" cols="35"></textarea><br/>
                                <input id="cause-id" type="hidden" th:value="${model.id}">
                                <input class="btn btn-primary btn-sm" type="submit" id="send-comment" value="Submit"/>
                            </form>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
