<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-3">
                </div>
                <div class="col-5">
                    <form th:action="@{/user/edit/password}" th:method="post" th:object="${model}">
                        <div class="form-group row ml-2 mt-4">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Old Password <span class="text-danger">*</span></label>
                            <div class="col-sm-8" th:classappend="${#fields.hasErrors('oldPassword')}?'has-danger'">
                                <input type="password" class="form-control" name="oldPassword" id="inputPassword"
                                       th:field="*{oldPassword}"
                                       placeholder="Old Password:">
                                <div th:each="error : ${#fields.errors('oldPassword')}">
                                    <small th:text="${error}"></small>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-2 mt-4">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Password <span class="text-danger">*</span></label>
                            <div class="col-sm-8" th:classappend="${#fields.hasErrors('password')}?'has-danger'">
                                <input type="password" class="form-control" name="password" id="inputPassword"
                                       th:field="*{password}"
                                       placeholder="Password:">
                                <div th:each="error : ${#fields.errors('password')}">
                                    <small th:text="${error}"></small>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-2 mt-4">
                            <label for="inputConfirmPassword" class="col-sm-4 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-sm-8" th:classappend="${#fields.hasErrors()}?'has-danger'">
                                <input type="password" class="form-control" name="confirmPassword" id="inputConfirmPassword"
                                       th:field="*{confirmPassword}"
                                       placeholder="Confirm Password:">
                                <div th:each="error : ${#fields.detailedErrors('confirmPassword')}">
                                    <small th:text="${error.message}"></small>
                                    <br/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-2 mt-4">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8 text-center">
                                <button type="submit" id="submitRegistration" class="btn btn-primary btn-block">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


