<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Cart</strong></div>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-shopping-cart display-3 text-primary"></span>
                        <h5 class="display-4 text-black">Your cart is empty :(</h5>
                        <br>
                        <p><a th:href="@{/products}" class="btn btn-sm btn-primary">Back to shop</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>
