<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Content-->
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="icon-minus-circle display-3 text-danger"></span>
                        <h2 class="display-3 text-black">Oops</h2>
                        <p class="lead text-black">Something went wrong.</p>
                        <p class="lead mb-4 text-black" th:text="'Error '+${statusCode}"></p>
                        <p class="lead mb-4 text-black" th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>


