<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">

        <div class="container mt-4">
            <div class="row">
                <div class="col-md-5 col-lg-3">
                    <div class="block-38 text-center">
                        <div class="block-38-img">
                            <div class="block-38-header">
                                <img th:src="${session.profile.imageUrl}"
                                     alt="Profile Picture" class="mb-4">
                                <h3 class="block-38-heading h4"
                                    th:text="${session.profile.firstName+' '+session.profile.lastName}"></h3>
                                <i class="" th:text="${#authentication.principal.email}"></i>
                            </div>
                            <div class="block-38-body mt-3">
                                <p th:text="${session.profile.about}"></p>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/causes/form}" class="btn btn-primary btn-block">Submit Cause</a>
                    <th:block th:if="${#authorization.expression('hasRole(''ROLE_MODERATOR'')')}">
                        <a th:href="@{/product/form}" class="btn btn-primary btn-block">Submit new Product</a>
                    </th:block>
                </div>

                <!--Content-->
                <div class="col-md-7 col-lg-9">
                    <div class="row ml-5 mt-4">
                        <h4 th:if="${not #lists.isEmpty(pinned)}" class="text-black">Pinned Causes:</h4>
                    </div>
                    <div class="row ml-5 mb-5">
                        <div class="row">
                            <div class="col">
                                <th:block th:each="cause : ${pinned}">
                                    <div class="row mr-1">
                                        <div class="col-12">
                                            <div class="alert alert-warning" role="alert">
                                                <a th:href="@{/causes/{id}(id=${cause.id})}" th:text="${cause.title}"
                                                   class="alert-link body-text"></a>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-5">
                        <div class="col-md-6">
                            <h4 class="text-black">My Causes:</h4>
                            <th:block th:each="cause : ${approved}">
                                <div class="row mr-1">
                                    <div class="alert alert-success" role="alert">
                                        <a th:href="@{/causes/{id}(id=${cause.id})}" th:text="${cause.title}"
                                           class="alert-link body-text"></a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-black">Pending Causes:</h4>
                            <th:block th:each="cause : ${pending}">
                                <div class="row ml-1">
                                    <div class="alert alert-danger" role="alert">
                                        <a th:href="@{/causes/{id}(id=${cause.id})}" th:text="${cause.title}"
                                           class="alert-link body-text"></a>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>