<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-3">
                    <th:block th:replace="~{fragments/blocks :: profile-block}"/>
                    <a th:href="@{/submit/cause}" class="btn btn-primary btn-block">Submit Cause</a>
                </div>
                <div class="col-md-7 col-lg-9">
                    col
                </div>
            </div>
        </div>
    </div>
</div>