<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">

    <!--Header image-->
    <div class="site-blocks-cover" th:inline="text" style="background-image: url(../../images/index_photo.jpg);" data-aos="fade">
        <div class="container">
            <div class="row align-items-start align-items-md-center justify-content-end">
                <div class="col-md-4 text-center text-md-left pt-5 pt-md-0">
                    <h1 class="mb-2">Volunteer to help the elderly</h1>
                    <div class="intro-text text-center text-md-left">
                        <p class="mb-4">Give back to the community. Find out how to help elderly people in your neighbourhood?</p>
                        <p>
                            <a th:href="@{/user/register}" class="btn btn-lg btn-primary">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{fragments/blocks :: contributors-block}"/>
</div>