<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Contact</strong></div>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="site-section border-bottom" data-aos="fade">
            <div class="container mt-3" data-aos="fade">
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8" role="main">
                        <h1 style="z-index: 1000;">
                            Your message has been successfully sent
                            <span style="bottom: -17.6px; height: 8px; background-color: rgb(0, 0, 0); transform: translateX(-50.5187px); width: 258.13px;"></span>
                        </h1>
                        <p class="mt-3">We will send you a reply as soon as possible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
