<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">

        <!--Content-->
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6 border text-center">
                        <p class="block-38-heading h5" th:text="${model.message}"></p>
                        <div>
                            <em th:text="'Sent by '+${model.firstName}+' '+${model.lastName}+' on '+${model.date}"></em>
                            <p><em th:text="'Email: '+${model.email}"></em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
