<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">

<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a>
                        <span class="mx-2 mb-0">/</span>
                        <strong class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>
        <!--Order by-->
        <div class="site-section">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
                                <div class="d-flex">
                                    <div class="dropdown mr-1 ml-md-auto">
                                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                                                id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Order By
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                                            <a class="dropdown-item" href="#">Latest</a>
                                            <a class="dropdown-item" href="#">Cheaper</a>
                                            <a class="dropdown-item" href="#">Most Expensive</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Content-->
                        <div class="row mb-5">
                            <th:block th:each="product : ${model}">
                                <div class="col-sm-6 col-lg-3 mb-3 aos-init aos-animate" data-aos="fade-up">
                                    <div class="block-4 text-center border">
                                        <figure class="block-4-image">
                                            <a th:href="@{/products/{id}(id=${product.id})}">
                                                <img th:src="${product.imageUrl}"
                                                     alt="Image placeholder" class="img-fluid"></a>
                                        </figure>

                                        <div class="block-4-text p-2">
                                            <h3><a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}"></a></h3>

                                            <p class="font-weight-bold bl-price mt-2" th:text="'$'+${product.price}"></p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                        <!--Paging-->
                        <div class="row aos-init" data-aos="fade-up">
                            <div class="col-md-12 text-center">
                                <div class="site-block-27">
                                    <ul>
                                        <li><a href="#">&lt;</a></li>
                                        <li class="active"><span>1</span></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">&gt;</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
</html>