<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">
        <div class="container">
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <th:block th:replace="~{fragments/blocks :: profile-block}"/>

                    <th:block th:if="${#authentication.principal.id} == ${model.id}">

                        <a th:href="@{/user/edit/profile}" class="btn btn-primary btn-block">Edit Profile</a>

                        <a th:href="@{/user/address/form}" class="btn btn-success btn-block">Edit Address Details</a>

                        <a th:href="@{/user/edit/password}" class="btn btn-warning btn-block">Change Password</a>

                       <form th:method="post" th:action="@{/user/delete}">
                            <div class="text-center mt-2">
                                <button class="as-link" type="submit" name="deleteUser"
                                        onclick="return confirm('Are you sure you want to delete your account?');">
                                    Delete Account
                                </button>
                            </div>
                        </form>

                    </th:block>

                </div>
            </div>
        </div>
    </div>
</div>