<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">

            <!--Left content-->

            <div class="col-lg-6 col-sm-12 left">
                <img class="img-fluid" th:src="@{/images/register_photo.jpg}">
            </div>

            <!--Right content-->

            <div class="col-lg-6 col-sm-12 right">
                <form th:method="post" th:action="@{/user/register}" th:object="${model}"
                      enctype="multipart/form-data">
                    <div class="form-group row ml-2 mt-4">
                        <label for="inputFirstName" class="col-sm-4 col-form-label">First Name <span class="text-danger">*</span></label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('firstName')}?'has-danger'">
                            <input type="text" class="form-control placeholder" name="firstName" id="inputFirstName"
                                   th:field="*{firstName}"
                                   placeholder="First Name">
                            <div th:each="error : ${#fields.errors('firstName')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-2 mt-4">
                        <label for="inputLastName" class="col-sm-4 col-form-label">Last Name <span class="text-danger">*</span></label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('lastName')}?'has-danger'">
                            <input type="text" class="form-control" name="lastName" id="inputLastName"
                                   th:field="*{lastName}"
                                   placeholder="Last Name">
                            <div th:each="error : ${#fields.errors('lastName')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-2 mt-4">
                        <label for="inputEmail" class="col-sm-4 col-form-label">Email <span class="text-danger">*</span></label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('email')}?'has-danger'">
                            <input type="email" class="form-control" name="email" id="inputEmail"
                                   th:field="*{email}"
                                   placeholder="Email">
                            <div th:each="error : ${#fields.errors('email')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-2 mt-4">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Password <span class="text-danger">*</span></label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('password')}?'has-danger'">
                            <input type="password" class="form-control" name="password" id="inputPassword"
                                   th:field="*{password}"
                                   placeholder="Password">
                            <div th:each="error : ${#fields.errors('password')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-2 mt-4">
                        <label for="inputConfirmPassword" class="col-sm-4 col-form-label">Confirm Password <span class="text-danger">*</span></label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors()}?'has-danger'">
                            <input type="password" class="form-control" name="confirmPassword" id="inputConfirmPassword"
                                   th:field="*{confirmPassword}"
                                   placeholder="Confirm Password">
                            <div th:each="error : ${#fields.detailedErrors('confirmPassword')}">
                                <small th:text="${error.message}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row ml-2 mt-4">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8 text-center">
                            <button type="submit" id="submitRegistration" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

