<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap">
        <!--Paging-->
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0"><a th:href="@{/home}">Home</a> <span class="mx-2 mb-0">/</span> <strong
                            class="text-black">Shop</strong></div>
                </div>
            </div>
        </div>

        <!--Content-->
        <div class="site-section border-bottom" data-aos="fade">
            <div class="container mt-3" data-aos="fade">
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <h2 class="text-black">Disclosure</h2>
                        </div>
                        <p>We have a range of products all hand-crafted by talented elderly people.<br>
                            From knitwear to soaps, from cards to T-shirts,
                            all made with love for you and your loved ones.</p>
                        <p>The sale of our products not only help the elderly people who made them, but
                            also help raise funds to support our organization.<br>
                            We would not be able to continue our work without your help.</p>

                        <a class="btn btn-primary" th:href="@{/products}">Continue to the shop.</a>
                        <br>
                        <p><h5>If you want your product featured in our shop
                        please contact us <a th:href="@{/contact/form}">Here</a> .</h5>
                        <p class="text-danger">Please know that only products made by elderly people will be
                            accepted.</p></p>
                    </div>
                </div>
            </div>
            <!--Best selling products-->
            <!--<th:block th:replace="~{fragments/blocks :: volunteers-block}"/>-->
        </div>
    </div>
</div>
</html>
