<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="container">
        <form th:action="@{/cause/submit}" th:method="post" th:object="${model}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="cause-image" name="imageUrl">
                        <label for="cause-image">Choose a picture with 1MB max size</label>
                    </div>
                    <div class="form-group row mt-4">
                        <label for="title" class="col-sm-2 col-form-label">Title:</label>
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('title')}?'has-danger'">
                            <input type="text" class="form-control placeholder" name="title" id="title"
                                   th:field="*{title}">
                            <div th:each="error : ${#fields.errors('title')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label class="col-sm-2 col-form-label" for="location">Location:</label>
                        <div class="col-sm-6" th:classappend="${#fields.hasErrors('location')}? 'text-danger'">
                            <select multiple class="form-control" id="location" th:field="*{location}">
                                <option th:each="location: ${locations}" th:value="${location.id}"
                                        th:text="${location.name}"></option>
                            </select>
                            <small th:each="error : ${#fields.errors('location')}" th:text="${error}"></small>
                        </div>
                    </div>
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit Cause</button>
                    </div>
                    <div class="text-center">
                        <small class="justify-content-center">All causes are reviewed by our team before they can be
                            published.
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row mt-4">
                        <div class="col-sm-8" th:classappend="${#fields.hasErrors('description')}?'has-danger'">
                            <textarea class="form-control" id="description" name="description" rows="20"
                                      maxlength="700" placeholder="Give information about the cause..."
                                      th:field="*{description}">
                            </textarea>
                            <div th:each="error : ${#fields.errors('description')}">
                                <small th:text="${error}"></small>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

