<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">

        <!--Content-->
        <div class="container mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${model}">
                    <tr>
                        <th scope="row" th:text="${userStat.count}"></th>
                        <td th:text="${user.firstName+' '+user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td text="TODO_ROLE"></td>
                        <td>
                            <form th:method="get" th:action="@{/user/profile/{id}(id=${user.id})}">
                                <button class="btn btn-info btn-sm">View</button>
                            </form>
                        </td>
                        <td>
                            <form method="get" action="">
                                <button class="btn btn-warning btn-sm">Role</button>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="">
                                <button class="btn btn-secondary btn-sm">Block</button>
                            </form>
                        </td>
                        <td>
                            <form th:method="post" th:action="@{/user/delete/{id}(id=${user.id})}">
                                <button class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this account?');">
                                    Delete</button>
                            </form>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>