<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/layout">
<div layout:fragment="content">
    <div class="site-wrap mt-4 mb-4">

        <!--Content-->
        <div class="container mt-4">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody class="text-black">
                <th:block th:each="user : ${model}">
                    <tr>
                        <th scope="row" th:text="${userStat.count}"></th>
                        <td th:text="${user.firstName+' '+user.lastName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${#strings.listJoin(user.authorities, ', ')}"></td>
                        <td>
                            <form th:method="get" th:action="@{/user/profile/{id}(id=${user.id})}">
                                <button class="btn btn-info btn-sm">View</button>
                            </form>
                        </td>

                        <td>
                            <div class="btn-group dropright">
                                <button type="button" class="btn btn-warning btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Role
                                </button>
                                <div class="dropdown-menu">
                                    <form th:action="@{/users/set-admin/{id}(id=${user.id})}" method="post">
                                        <button class="dropdown-item">Admin</button>
                                    </form>
                                    <form th:action="@{/users/set-moderator/{id}(id=${user.id})}" method="post">
                                        <button class="dropdown-item">Moderator</button>
                                    </form>
                                    <form th:action="@{/users/set-user/{id}(id=${user.id})}" method="post">
                                        <button class="dropdown-item">User</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>
                            <form th:method="post" th:action="@{/user/delete/{id}(id=${user.id})}">
                                <button class="btn btn-danger btn-sm"
                                        onclick="return confirm('Are you sure you want to delete this account?');">
                                    Delete
                                </button>
                            </form>
                        </td>

                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>